*,
::before,
::after {
  box-sizing: "border-box";
  padding: 0;
  margin: 0;
}

label {
  font-size: 20px;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerAuth {
  background-color: #fff;
  padding: 32px 48px;
  border-radius: 10px;
  width: 80%;
  max-width: 400px;
  box-shadow: 8px 8px 24px 0 rgba(66, 68, 90, 1);
}

.containerAuth > h1 {
  margin-bottom: 20px;
}

.containerAuth > form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.containerAuth div {
  display: flex;
  flex-direction: column;
}

.containerAuth input {
  width: 100%;
  font-size: 20px;
  padding: 10px;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
}

.containerAuth input::placeholder {
  font-size: 12px;
  font-style: italic;
}

button {
  background-color: purple;
  border: none;
  font-size: 20px;
  color: white;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  margin: 10px 0;
}
